<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Miguel Bernardes</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/img-hover.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>

  </head>
  <body ng-app="PersonalWebsite">
    
    <div class="container-fluid">
      <div class="text-center"
        <!-- Cover Section -->
        <div class="section cover-section" id="top">
          <header>
            <h1>Miguel Bernardes</h1>
            <!--<p>Hello! My name is Miguel Bernardes and I am a Computer Science graduate from the University of Coimbra, Portugal. Read more <a href="#about">about me</a>, see <a href="#work">what I've been up to</a> and <a href="#contact">get in contact</a>.</p>-->
          </header>
        </div>

        <!-- Skills Section -->
        <div class="section">
          <h2>Skills</h2> 
          <img src="images/head.png" class="img-responsive big-image" alt="Skills" style="margin: 0 auto">
        </div>

        <!-- Interests Section -->
        <div class="section">
          <h2>Interests</h2>
          <img src="images/heart.png" class="img-responsive big-image" alt="Skills" style="margin: 0 auto">
        </div>
        
        <!-- Projects Section -->
        <div class="section" ng-controller="MainController">
          <h2>Projects</h2>

          <!-- Modal -->
          <div class="modal fade" id="{{project.name|removespaces}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-repeat="project in projectList.projects">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h3 class="modal-title" id="myModalLabel">{{project.name}}</h3>
                </div>
                <div class="modal-body">
                  <img ng-src="{{project.image}}" class="img-responsive" alt="Interests">
                  <br>
                  <p>{{project.description}}</p>
                  <div ng-if="project.hasLink">
                    <p>{{project.type}} it <a target="_blank" href="{{project.link}}">here</a>!</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <p>{{project.skills}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 project-image" ng-repeat="project in projectList.projects">
              <a href="#" data-toggle="modal" data-target="#{{project.name|removespaces}}">
                <div class="image-wrapper overlay-fade-in">
                  <img ng-src="{{project.image}}" class="img-responsive" alt="Interests">
                  <div class="image-overlay-content">
                    <h4>{{project.name}}</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>

        <div class="section">
          <h4>Download my CV here</h4><!--Icon designed by Garrett Knoll from the Noun Project (http://thenounproject.com/term/download/29074/)-->
          <a class="center" href="https://dl.dropboxusercontent.com/u/4353431/cv-miguel-bernardes.pdf" target="_blank">
            <img class="tiny-icon" alt="downloadCV" src="images/download.png">
          </a>
        </div>

        <!-- Contacts Section -->
        <div class="section" id="contacts">
          <h2>Let's Talk</h2>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <img class="small-icon" alt="send email" src="images/email.png">
              <h4>Email me</h4>
              <p>Feel free to write me an email at <a href="mailto:mrsbernardes@gmail.com">mrsbernardes@gmail.com</a> if you have any questions.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <img class="small-icon" alt="LinkedIn" src="images/linkedin.png">
              <h4>Connect with me</h4>
              <p>You can view my LinkedIn <a href="http://pt.linkedin.com/pub/miguel-bernardes/90/568/974"  target="_blank">profile</a> to find out more about me and add me to your connections.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    function showDiv() {
      document.getElementById('welcomeDiv').style.display = "block";
    }
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

    <!-- Services -->
    <script src="js/services/projects.js"></script>

  </body>
</html>